	<style type="text/css">
		a:link { color: #0000FF; font-weight: bold; text-decoration:none; }
		a:visited { color: #440080; font-weight:400; text-decoration:none;}
		a:hover {font-weight: bold; text-decoration:underline;}
		body,h1,h2,h3,h4,h5,h6{font-weight:400;font-family:-apple-system,BlinkMacSystemFont,Avenir,"Avenir Next","Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif}
		body,h6{line-height:1.6}
		html{box-sizing:border-box;font-size:62.5%;margin:0;padding:0}
		body{letter-spacing:.01em;font-size:1.5em}
		h1,h2,h3{letter-spacing:-.1rem}
		h1{font-size:4rem;line-height:1.2}
		h2{font-size:3.6rem;line-height:1.25}
		h3{font-size:3rem;line-height:1.3}
		h4{font-size:2.4rem;line-height:1.35;letter-spacing:-.08rem}
		h5{font-size:1.8rem;line-height:1.5;letter-spacing:-.05rem}
		h6{font-size:1.5rem;letter-spacing:0}
		body{max-width:960px;margin:0 auto;width:80%}
		
		.xjlcode {font-family:"Fira Mono Medium",Courier;font-size-adjust: 0.50;}
		
		@font-face {font-family:Fira Mono;
			src: url(https://fonts.googleapis.com/css?family=Fira+Mono) format("truetype");}

	</style>

